@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vw;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}


/* Styling the header */

.header {
    flex: 3;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.top {
    flex: 1;
    height: 100px;
    background-color: #316dc3;
}


/* Social Media Icons Styling */

.social {
    margin-left: 300px;
    margin-top: 20px;
    height: 25px;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-youtube {
    color: rgb(255, 255, 255, 0.9);
    margin-left: 30px;
    margin-top: -50px;
    position: relative;
}


/* Buttons in header */

.buttons-head {
    position: absolute;
    margin-left: 1300px;
    margin-top: -35px;
}

.uk,
.donate,
.fee {
    border: none;
    width: 80px;
    height: 30px;
    font-size: 12px;
}


/***************************** Navigation Bar Styling ************************/

.navbar {
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 20px;
    margin-left: 800px;
    z-index: 1;
}

.navbar a {
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 12px 12px;
    text-decoration: none;
    border-radius: 25px;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    border-radius: 20px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(3, 99, 209);
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #316dc3;
    border-radius: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* **********************Navigation Bar Styling End ************************************ */


/* Saylani Logo Header */

.saylani-logo {
    position: absolute;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: -450px;
    height: 50px;
}


/* Main Banner */

.main-banner {
    flex: 5;
    background-color: navajowhite;
    z-index: -1;
}

.banner-1 {
    width: 100%;
    height: 580px;
}


/* Notification Trigger and Introduction */

.main {
    flex: 3;
    background-color: rgb(255, 255, 255);
}


/* Notification Trigger in Front */

.trigger {
    background-color: #316dc3;
    width: 1250px;
    margin-top: 5px !important;
    margin: auto;
    color: white;
    text-align: center;
}

span {
    color: lightgreen;
}


/* Introduction */

.intro>h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
}

h3>.span2 {
    color: rgb(3, 121, 3) !important;
}

.content {
    width: 700px;
    height: max-content;
    margin: auto;
    margin-left: 450px;
}

.content>p {
    text-align: left;
    width: 1000px;
    font-size: large;
    font-weight: 50;
    opacity: 0.7;
}


/************************** Styling accounts chart **********************/

.accounts {
    flex: 3;
    background-color: rgb(255, 255, 255);
}

.bg {
    background-color: #2755e9;
    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: row;
}


/* Accounts Cards */

.card {
    height: 300px;
    width: 350px;
    margin: auto;
    padding: 50px !important;
    margin-top: 70px;
    background-color: #2755e9 !important;
    display: flex;
    border: none !important;
    outline: none;
}

.card-body {
    display: flex;
    text-align: center;
}


/* Images in acocunts card */

.image {
    height: 80px;
    margin: -30px auto 10px auto;
}


/* Figures */

img~p {
    color: white;
    position: absolute;
    text-align: center;
    margin: auto;
    margin-left: -25px;
    margin-top: 60px;
    font-size: 70px;
    font-family: 'Libre Baskerville', serif;
}

.family-fig {
    margin-left: 20px;
}

.med-fig {
    margin-left: 15px;
}


/* Description of accounts */

p~small {
    color: white;
    position: absolute;
    font-family: 'Libre Baskerville', serif;
    font-weight: 800;
    font-size: 15px;
    margin-top: 170px;
    margin-left: -25px
}

small>span {
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 255, 0);
}


/******** Styling what we are doing column *************/

.services {
    flex: 3;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    height: 2000px;
}

.doing {
    flex: 1;
    background-color: rgb(236, 233, 233);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.doing>h3 {
    font-family: 'Merriweather', serif;
    margin: auto;
    margin-top: 40px !important;
    font-size: 40px;
    position: absolute;
    margin-left: 680px;
}


/***** Cards of What we are doing *****/

.sadqah,
.welfare,
.medical,
.dastar,
.roplant,
.education {
    width: 400px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    margin-top: 200px;
    margin-left: 150px;
    border: none;
    box-shadow: -7px 10px 10px lightgray;
}

.dastar2,
.water2,
.edu2 {
    margin-top: 50px !important;
}


/********* PNG Icons & Text inside what we are doing card ******************/

.do {
    position: absolute;
    width: 120px;
    margin-top: 60px;
    margin-left: 130px;
}

.do~p {
    color: #1944cf;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 200px;
    margin-left: 130px;
}

.do~span {
    color: #1944cf;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 200px;
    position: absolute;
    margin-left: 110px;
    font-family: 'Merriweather', serif;
}


/********************** Styling Upcoming project chart ****************/

.projects {
    flex: 1;
    background-color: #6e85ce;
    display: flex;
}

.missions {
    flex: 2;
    background-color: rgb(255, 255, 255);
}


/** Heading **/

.missions>h3 {
    color: #1944cf;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 30px;
    margin-left: 170px;
    margin-top: 120px;
}

.line {
    width: 100px;
    height: 3px;
    margin-left: 170px;
    background-color: forestgreen;
}


/*** Missions Icon ***/

.mission-pic-1 {
    margin-left: 180px;
    margin-top: 50px;
    width: 35px;
}

.mission-pic-1~p {
    color: #1944cf;
    position: absolute;
    font-size: large;
    margin-top: -25px;
    font-weight: 600;
    margin-left: 230px;
}

.it {
    margin-left: 230px !important;
}

.mission-pic-2 {
    margin-left: 400px;
    margin-top: 50px;
    width: 35px;
}

.mission-pic-2~p {
    color: #1944cf;
    position: absolute;
    font-size: large;
    margin-top: -25px;
    font-weight: 600;
    margin-left: 680px;
}


/**** Styling Upcoming Event section with slider ****/

.events {
    flex: 1;
    background-color: rgb(255, 255, 255);
}

.events>h3 {
    color: #1944cf;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 30px;
    margin-top: 120px;
    margin-left: 10px;
}

.line2 {
    width: 100px;
    height: 3px;
    margin-left: 10px;
    background-color: forestgreen;
}


/** News and Events Column *****/

.news {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.more-details {
    color: #1944cf;
}

.gallery {
    flex: 1;
    background-color: chocolate;
}

.footer {
    flex: 2;
    background-color: darkcyan;
}